<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Welcome to classification</h1>
    <h5> Detect wether you will suffer with ten year CHD</h5>
Ten Year CHD</h5>
        <form method="POST"
              action="/classify">

            <div>Are you male ?: <input name="male" type="number"></div>
            <div>Age: <input name="age" type="number"></div>
            <div>BPMeds: <input name="BPMeds" type="number"></div>
            <div>Prevalent Hypertension: <input name="prevalentHyp" type="number"></div>
            <div>Diabetes: <input name="diabetes" type="number"></div>
            <div>Total Cholestrol: <input name="totChol" type="number"></div>
            <div>Systolic Blood Pressure: <input name="sysBP" type="number"></div>
            <div>Diastolic Blood Pressure: <input name="diaBP" type="number"></div>
            <div>Glucose: <input name="glucose" type="number"></div>

        </form>

</body>
</html>